* {
  box-sizing: border-box;
}

.center {
  
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 3%;  
}

.HomeBody{
  font-family:"Raleway", Raleway, sans-serif;
  font-weight: 500;
  line-height: 1.5;
}

.AboutBody{
  font-family:"Raleway", Raleway, sans-serif;
  font-weight: 500;
  line-height: 1.5;
}

.name{
  margin: auto;
  width: 50%;
}

.homeheader{
  font-weight: 500;
  line-height: 2.5;
}

#introduction{
  font-weight: 500;
  line-height: 2.5;
  margin: auto;
  width: 50%;
}


#intro{
  font-weight: 500;
  line-height: 2.5;
}

#skills{
  font-weight: 500;
  line-height: 2.5;
}

.linkedin{

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 3%; 

}

header {
  background-color: #9e917b;
  padding: 10px; /* Adds a 10px inner spacing to all sides */
  padding: 10px 5px; /* Adds 10px to top & bottom and 5px to left and right */
  padding: 10px 5px 15px 5px; /* Adds 10px top, 5px right, 15px bottom, 5px left */
  margin: 10px;
  border-bottom: 3px solid #4a4a4a;

}

.profile{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 13%; 
}

img{
  width:100%
}

a {
  color: #ddc277;
  text-decoration: none; /* No underlining */
}
a:hover {
  color: #855a0a;
  text-decoration: underline; /* Underlining when hovering over a link */
}

.ResumeButton {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #e2d197;
  color: #222020; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #5a4815; /* width of the border, type, color */
  transition: 0.2s opacity;
}

.ResumeButton:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.EmailButton {
  background-color: transparent;
  color: #3d3b3a;
  text-transform: uppercase;
  border: 2px solid #c5a94f;
}

.EmailButton:hover {
  background-color: #998249;
  color: #ffffff;
}

/* Layout styling */
.container {
  padding: 0 15px;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
}
/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}