* {
  box-sizing: border-box;
}

nav > ul{
  list-style: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color:#ddc277;
}

.center {
  
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 3%;  
}

.HomeBody{
  font-family:"Raleway", Raleway, sans-serif;
  font-weight: 500;
  line-height: 1.5;
  font-size:18px;
}

.AboutBody{
  font-family:"Raleway", Raleway, sans-serif;
  font-weight: 500;
  line-height: 1.5;
}

.ArtCallBody{
  font-family:"Raleway", Raleway, sans-serif;
  font-weight: 500;
  line-height: 1.5;
}

.homeheader{
  font-weight: 500;
  line-height: 2.5;
}

#introduction{
  font-weight: 500;
  line-height: 2.5;
  margin: auto;
  width: 50%;
}

#hero{
  text-align: center; 
}

#intro{
  font-weight: 500;
  line-height: 2.5;
}

#skills{
  font-weight: 500;
  line-height: 2.5;
}

.linkedin{

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 3%; 

}

header {
  background-color: #9e917b;
  padding: 10px; /* Adds a 10px inner spacing to all sides */
  padding: 10px 5px; /* Adds 10px to top & bottom and 5px to left and right */
  padding: 10px 5px 15px 5px; /* Adds 10px top, 5px right, 15px bottom, 5px left */
  margin: 10px;
  border-bottom: 3px solid #4a4a4a;

}

.profile{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 13%; 
}

img{
  width:100%
}

a {
  color: #ddc277;
  text-decoration: none; /* No underlining */
}
a:hover {
  color: #855a0a;
  text-decoration: underline; /* Underlining when hovering over a link */
}

.ResumeButton {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #e2d197;
  color: #222020; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #5a4815; /* width of the border, type, color */
  transition: 0.4s opacity;
  transition-property: opacity;
}

.ResumeButton:hover {
  opacity: 0.5; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.EmailButton {
  background-color: transparent;
  color: #3d3b3a;
  text-transform: uppercase;
  border: 2px solid #c5a94f;
}

.EmailButton:hover {
  background-color: #998249;
  color: #ffffff;
}

/* Layout styling */
.container {
  padding: 0 15px;
}

svg{
  width: 100%;
  max-width: 100%;
  height: auto;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  .col-md-6 {
    width: 50%;
    padding-right: 10px;
  }

  [class*="col-md-6"] {
    float: left;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }
}
/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}

@keyframes color-change {
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
}

.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move{
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}

.cloud-back{
  animation-duration: 4s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.name{
  display:inline-block;
}

.abouttitle{
  display:inline-block;
}