.center {
  
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 3%;  
}

.HomeBody{
  font-family:"Raleway", Raleway, sans-serif;
  font-weight: 500;
  line-height: 1.5;
}

.AboutBody{
  font-family:"Raleway", Raleway, sans-serif;
  font-weight: 500;
  line-height: 1.5;
}

.name{
  margin: auto;
  width: 50%;
}

.homeheader{
  font-weight: 500;
  line-height: 2.5;
  margin: auto;
  width: 50%;
}

#introduction{
  font-weight: 500;
  line-height: 2.5;
  margin: auto;
  width: 50%;
}


#intro{
  font-weight: 500;
  line-height: 2.5;
  margin: auto;
  width: 70%;
}

#skills{
  font-weight: 500;
  line-height: 2.5;
  margin: auto;
  width: 70%;
}

.linkedin{

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 3%; 

}

.profile{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 13%; 
}

img{
  width:100%
}

a {
  color: #ddc277;
  text-decoration: none; /* No underlining */
}
a:hover {
  color: #b48e26;
  text-decoration: underline; /* Underlining when hovering over a link */
}

.ResumeButton {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #c5a94f;
  color: #222020; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #5a4815; /* width of the border, type, color */
  transition: 0.2s opacity;
}

.ResumeButton:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}
